.board {
  display: flex;
  flex-direction: column;
  // height: 400px;
  width: 90%;
  // max-width: 300px;
  border: solid white;
  // aspect-ratio: 1;

  .boardRow {
    display: flex;
    flex: 1;

    .boardLetter {
      border: solid darkcyan;
      display: flex;
      place-content: center;
      flex: 1;
      aspect-ratio: 1;
      font-size: 1.4rem;
      margin: 5px;
      border-radius: 5px;
    }
    .occupied {
      border: solid purple;
    }
    .active {
      border: solid yellow;
    }
  }
}
