@use './mixins';

.letterContainer {
  @include mixins.buttonContainer;

  .letter {
    @include mixins.button(1);
    background-color: darkcyan;
    color: black;
  }
  .inactive {
    border: solid grey;
    color: grey;
    background-color: transparent;
  }
}
